<% @posts.each do |post| %>
	<%= link_to post do %>
	  <div class="post_wrapper">
	  	<div class="title">
	  		<span><%= link_to post.title, post %></span>
	  	</div>
	  	<p>
	    	<%= image_tag post.image.url(:thumb) if post.image.present? %>
	    </p>
	    <p class="date">
	      <%= post.created_at.strftime("%B, %d, %Y") %>
	    </p>
	  </div>
  <% end %>
<% end %>